<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy SUSTech Cubesat. </p>
              <p>We are part of the <a href="http://ess.sustech.edu.cn/">Department of Earth and Space Sciences</a> at <a href="https://www.sustech.edu.cn/">Southern University of Science and Technology (SUSTech) </a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Building 9, Innovation Park<br />
		  Southern University of Science and<br />
		  Technology Shenzhen, Guangdong,<br />
		  China <br />
            (<a href="">Maps</a>, <a href="">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
