---
layout: default
---

  <div id="homeid" class="col-sm-08">
	      {{ content }}
  </div> 
  <div class='col-sm-0'>
    <div class='sm-00'>
      <div class="l-sm-01" data-wow-offset="40">
        <p class="services-icon"><span class="fa fa-android fa-5x"></span></p>
        <h4 class="services-title">LECTURES</h4>
        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
        <p class="services-more"><a href="#">Find Out More</a></p>
      </div>
      <div class="l-sm-02" data-wow-offset="40">
        <p class="services-icon"><span class="fa fa-android fa-5x"></span></p>
        <h4 class="services-title">NEWS</h4>
        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
        <p class="services-more"><a href="#">Find Out More</a></p>
      </div>
      <div class="l-sm-03" data-wow-offset="40">
        <p class="services-icon"><span class="fa fa-android fa-5x"></span></p>
        <h4 class="services-title">calendar</h4>
        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
        <p class="services-more"><a href="#">Find Out More</a></p>
      </div>
      <div class="l-sm-03" data-wow-offset="40">
        <p class="services-icon"><span class="fa fa-android fa-5x"></span></p>
        <h4 class="services-title">more</h4>
        <p class="services-body">Cras interdum placerat libero vel tempor. Curabitur gravida iaculis erat quis dignissim.</p>
        <p class="services-more"><a href="#">Find Out More</a></p>
      </div>
    </div>
    <div id="newsid" class="l-sm-4" >
      {% include news.html %}
    </div>
  </div>
  
  
 
