---
layout: default
---
  

  <div id="homeid" class="col-sm-08">
        <!-- <h1>Welcome to the SUSTech Cubesat Project</h1> -->
    
        {{ content }}
  </div>
  <div class='col-sm-0'>
    <div class='sm-00'>
      {% include lecture.html %}
      <div class="nwl">
        <!-- <div class="xian"></div> -->
        <h3>More</h3>		
      </div>
      {% include calendar.html %}
      {% include news.html %}
      {% include dynamic.html %}
    </div>
    <div id="newsid" class="l-sm-4" >
      {% include Notice.html %}
    </div>
  </div>
  
  
 
