---
layout: default
---


<script>
  var uname=sessionStorage.getItem("firstname");
  var pdw=sessionStorage.getItem("lastname");
  if(uname=='sustech_ess' || pdw=="Cu8e$@t_2020"){
    $(function() {
      $(".panel-heading").click(function(e) {
        $(this).find("span").toggleClass("glyphicon-menu-right");
        $(this).find("span").toggleClass("glyphicon-menu-down");
      });
  
      $(".solutionList li").click(function() {
        $(".solutionList .linkactive").removeClass('linkactive');
        $(this).addClass('linkactive');
      });
    });
  }
  else
  {
    window.location.href="{{ site.url }}{{ site.baseurl }}/login.html";
  }
  
  // var uname=sessionStorage.getItem("firstname");
  // var pdw=sessionStorage.getItem("lastname");
  // if(uname=='sustech_ess' || pdw=="Cu8e$@t_2020"){
  //   window.location.href="{{ site.url }}{{ site.baseurl }}/allnews.html";
  // }
  // $(function() {
  //   $(".panel-heading").click(function(e) {
  //     $(this).find("span").toggleClass("glyphicon-menu-right");
  //     $(this).find("span").toggleClass("glyphicon-menu-down");
  //   });

  //   $(".solutionList li").click(function() {
  //     $(".solutionList .linkactive").removeClass('linkactive');
  //     $(this).addClass('linkactive');
  //   });
  // });
</script>
<div id="picid" class="col-sm-12">
  <div class="row">
    <div class="col-xs-3">
      <div class="defaultLeftMenu">
        <div class="defaultLeftList">
          <div class="defaultLeftContent">
            <div class="text-center defaultListTitle">
              <span>
                项目资料
              </span>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse"
            data-target="#collapseListGroup1" role="tab">
              <h5 class="text-center">
              参考文献 &nbsp;
              <span class="glyphicon glyphicon-menu-down down">
              </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
            aria-labelledby="collapseListGroupHeading1">
              <ul class="text-center solutionList">
                <li role="presentation" class="linkactive">
                  <a href="#tab1-1" aria-controls="tab1-1" role="tab" data-toggle="tab">
                    1.1 总体
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab1-2" aria-controls="tab1-2" role="tab" data-toggle="tab">
                    1.2 极光相机
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab1-3" aria-controls="tab1-3" role="tab" data-toggle="tab">
                    1.3 波动载荷
                  </a>
                </li>
              </ul>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse"
            data-target="#collapseListGroup2" role="tab">
              <h5 class="text-center">
                工作进展 &nbsp;
                <span class="glyphicon glyphicon-menu-right right">
                </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup2" class="panel-collapse collapse " role="tabpanel"
            aria-labelledby="collapseListGroupHeading2">
              <ul class="text-center solutionList">
                <li role="presentation">
                  <a href="#tab2-1" aria-controls="tab2-1" role="tab" data-toggle="tab">
                    2.1 总体
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab2-2" aria-controls="tab2-2" role="tab" data-toggle="tab">
                    2.2 极光相机
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab2-3" aria-controls="tab2-3" role="tab" data-toggle="tab">
                    2.3 波动载荷
                  </a>
                </li>
              </ul>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse"
            data-target="#collapseListGroup3" role="tab">
              <h5 class="text-center">
                相机任务 &nbsp;
                <span class="glyphicon glyphicon-menu-right right">
                </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup3" class="panel-collapse collapse " role="tabpanel"
            aria-labelledby="collapseListGroupHeading3">
              <ul class="text-center solutionList">
                <li role="presentation">
                  <a href="#tab3-1" aria-controls="tab3-1" role="tab" data-toggle="tab">
                    任务列表
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9 defaultRightPanel">
      <div class="defaultPanelBody">
        <div class="tab-content">
          <!-- TAB选项1-1内容 -->
          <div role="tabpanel" class="tab-pane active" id="tab1-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.1 总体
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.1 即将上线！
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项1-2内容 -->
          <div role="tabpanel" class="tab-pane " id="tab1-2">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.2 极光相机
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.2 极光相机
                </p>
                {{ content }}
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="tab1-3">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.3 波动载荷
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.3 波动载荷, 即将上线！
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab2-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.1 总体
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.1 项目介绍会
                </p>
                <table id="dataListTable" class="table table-condensed table-hover" style="display:block;">
                  <tbody> 
                      <tr>
                          <td class='title' colspan='3'>
                              File Download
                          </td>
                      </tr>            
                      <tr>
                          <th class="sort1">
                              Derial Number
                          </th>
                          <th class="sort2 text-center">
                              Data
                          </th>
                          <th class="sort3">
                              Download
                          </th>
                      </tr>
                      {% for article in site.data.progress_total limit:2 %}
                      <tr>
                          <td class="sort1">
                              {{ article.num }}
                          </td>
                          <td id="aa" class="sort2">
                              {{ article.title }}
                          </td>
                          <td class="sort3">
                              <a id="ContentPlaceHolder1_rf_rep_DataList_down_allow_0" href="{{ site.url }}{{ site.baseurl }}/progress_total/{{ article.title }}" target="_blank">下载</a>
                          </td>
                      </tr>
                      {% endfor %}      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab2-2">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.2 极光相机
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.2 工作情况
                </p>
                <table id="dataListTable" class="table table-condensed table-hover" style="display:block;">
                  <tbody> 
                      <tr>
                          <td class='title' colspan='3'>
                              File Download
                          </td>
                      </tr>            
                      <tr>
                          <th class="sort1">
                              Derial Number
                          </th>
                          <th class="sort2 text-center">
                              Data
                          </th>
                          <th class="sort3">
                              Download
                          </th>
                      </tr>
                      {% for article in site.data.progress_auroracamera limit:17 %}
                      <tr>
                          <td class="sort1">
                              {{ article.num }}
                          </td>
                          <td id="aa" class="sort2">
                              {{ article.title }}
                          </td>
                          <td class="sort3">
                              <a id="ContentPlaceHolder1_rf_rep_DataList_down_allow_0" href="{{ site.url }}{{ site.baseurl }}/progress_aurora/{{ article.title }}" target="_blank">下载</a>
                          </td>
                      </tr>
                      {% endfor %}      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="tab2-3">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.3 波动载荷
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.3 波动载荷
                </p>
                <table id="dataListTable" class="table table-condensed table-hover" style="display:block;">
                  <tbody> 
                      <tr>
                          <td class='title' colspan='3'>
                              File Download
                          </td>
                      </tr>            
                      <tr>
                          <th class="sort1">
                              Derial Number
                          </th>
                          <th class="sort2 text-center">
                              Data
                          </th>
                          <th class="sort3">
                              Download
                          </th>
                      </tr>
                      {% for article in site.data.progress_cubesate_load limit:7 %}
                      <tr>
                          <td class="sort1">
                              {{ article.num }}
                          </td>
                          <td id="aa" class="sort2">
                              {{ article.title }}
                          </td>
                          <td class="sort3">
                              <a id="ContentPlaceHolder1_rf_rep_DataList_down_allow_0" href="{{ site.url }}{{ site.baseurl }}/cubesate_load/{{ article.title }}" target="_blank">下载</a>
                          </td>
                      </tr>
                      {% endfor %}      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab3-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  项目任务
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  任务表格
                </p>
                <table id="dataListTable" class="table table-condensed table-hover" style="display:block;">
                  <tbody> 
                      <tr>
                          <td class='title' colspan='3'>
                              File Download
                          </td>
                      </tr>            
                      <tr>
                          <th class="sort1">
                              Derial Number
                          </th>
                          <th class="sort2 text-center">
                              Data
                          </th>
                          <th class="sort3">
                              Download
                          </th>
                      </tr>
                      {% for article in site.data.task limit:3 %}
                      <tr>
                          <td class="sort1">
                              {{ article.num }}
                          </td>
                          <td id="aa" class="sort2">
                              {{ article.title }}
                          </td>
                          <td class="sort3">
                              <a id="ContentPlaceHolder1_rf_rep_DataList_down_allow_0" href="{{ site.url }}{{ site.baseurl }}/task/{{ article.title }}" target="_blank">下载</a>
                          </td>
                      </tr>
                      {% endfor %}      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery1.11.3 (necessary for Bo otstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files
  as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <!-- 切换折叠指示图标 -->
</div>
