---
layout: default
---



<div id="picid" class="col-sm-12">
  <div class="row">
    <div class="col-xs-3">
      <div class="defaultLeftMenu">
        <div class="defaultLeftList">
          <div class="defaultLeftContent">
            <div class="text-center defaultListTitle">
              <span>
                项目资料
              </span>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse"
            data-target="#collapseListGroup1" role="tab">
              <h5 class="text-center">
              参考文献 &nbsp;
              <span class="glyphicon glyphicon-menu-down down">
              </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel"
            aria-labelledby="collapseListGroupHeading1">
              <ul class="text-center solutionList">
                <li role="presentation" class="linkactive">
                  <a href="#tab1-1" aria-controls="tab1-1" role="tab" data-toggle="tab">
                    1.1总体
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab1-2" aria-controls="tab1-2" role="tab" data-toggle="tab">
                    1.2极光相机
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab1-3" aria-controls="tab1-3" role="tab" data-toggle="tab">
                    1.3波动载荷
                  </a>
                </li>
              </ul>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse"
            data-target="#collapseListGroup2" role="tab">
              <h5 class="text-center">
                工作进展 &nbsp;
                <span class="glyphicon glyphicon-menu-right right">
                </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup2" class="panel-collapse collapse " role="tabpanel"
            aria-labelledby="collapseListGroupHeading2">
              <ul class="text-center solutionList">
                <li role="presentation">
                  <a href="#tab2-1" aria-controls="tab2-1" role="tab" data-toggle="tab">
                    2.1总体
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab2-2" aria-controls="tab2-2" role="tab" data-toggle="tab">
                    2.2极光相机
                  </a>
                </li>
                <li role="presentation">
                  <a href="#tab2-3" aria-controls="tab2-3" role="tab" data-toggle="tab">
                    2.3波动载荷
                  </a>
                </li>
              </ul>
            </div>
            <!-- 利用data-target指定要折叠的分组列表 -->
            <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse"
            data-target="#collapseListGroup3" role="tab">
              <h5 class="text-center">
                相机任务 &nbsp;
                <span class="glyphicon glyphicon-menu-right right">
                </span>
              </h5>
            </div>
            <!-- .panel-collapse和.collapse标明折叠元素 .in表示要显示出来 -->
            <div id="collapseListGroup3" class="panel-collapse collapse " role="tabpanel"
            aria-labelledby="collapseListGroupHeading3">
              <ul class="text-center solutionList">
                <li role="presentation">
                  <a href="#tab3-1" aria-controls="tab3-1" role="tab" data-toggle="tab">
                    任务列表
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9 defaultRightPanel">
      <div class="defaultPanelBody">
        <div class="tab-content">
          <!-- TAB选项1-1内容 -->
          <div role="tabpanel" class="tab-pane active" id="tab1-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.1总体
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.1即将上线！
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项1-2内容 -->
          <div role="tabpanel" class="tab-pane " id="tab1-2">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.2极光相机
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.2极光相机
                </p>
                {{ content }}
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="tab1-3">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  1.3波动载荷
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  1.3波动载荷
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab2-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.1总体
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.1项目介绍会
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab2-2">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.2极光相机
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.2工作情况
                </p>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="tab2-3">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  2.3波动载荷
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  2.3波动载荷
                </p>
              </div>
            </div>
          </div>
          <!-- TAB选项一-内容 -->
          <div role="tabpanel" class="tab-pane " id="tab3-1">
            <div class="defaultPanelHead">
              <span class="defaultPanelTitle">
                <h4>
                  项目任务
                </h4>
              </span>
            </div>
            <div class="defaultPanelContent">
              <div>
                <p>
                  任务表格
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery1.11.3 (necessary for Bo otstrap's JavaScript plugins) -->
  <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js">
  </script>
  <!-- Include all compiled plugins (below), or include individual files
  as needed -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js">
  </script>
  <!-- 切换折叠指示图标 -->
  <script>
    $(function() {
      $(".panel-heading").click(function(e) {
        $(this).find("span").toggleClass("glyphicon-menu-right");
        $(this).find("span").toggleClass("glyphicon-menu-down");
      });
  
      $(".solutionList li").click(function() {
        $(".solutionList .linkactive").removeClass('linkactive');
        $(this).addClass('linkactive');
      });
    });
  </script>


  <!-- <div id="left">
    <div id="gatherHead">文件目录</div>
    <div class="gatherSortHead" id="gatherSortHead" title="文献数据">
        <span>参考文献</span>
        <a href="Datalist1.aspx?FieldTyepID=7,1">
        更多&gt;&gt;
        </a>
    </div>
    <div class="gatherSortBody" style ="display:block;">
        <div class="childsorthead" id="childsorthead">
            <span>总体</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title="总体" href="/data.aspx?DATAID=277">
                        总体
                    </a>
                </li>
            </ul>
        </div>
        <div class="childsorthead" id="childsorthead">
            <span>极光相机</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title=" 极光相机" href="/data.aspx?DATAID=277">
                        极光相机
                    </a>
                </li>
            </ul>
        </div>
        <div class="childsorthead" id="childsorthead">
            <span>波动载荷</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title="波动载荷" href="/data.aspx?DATAID=277">
                        波动载荷
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div> -->
  <!-- <div class="left">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" 
             href="#collapseOne">
            参看文献
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="patch1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapsefour">
                  总体
                </a>
              </h4>
            </div>
            <div id="collapsefour" class="panel-collapse collapse">
              <div class="panel-body">
                稍等片刻！
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapsefive">
                  极光相机
                </a>
              </h4>
            </div>
            <div id="collapsefive" class="panel-collapse collapse">
              <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                vice lomo.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapsesix">
                  波动载荷
                </a>
              </h4>
            </div>
            <div id="collapsesix" class="panel-collapse collapse">
              <div class="panel-body">
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
                vice lomo.
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" 
             href="#collapseTwo">
            工作进展
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          Nihil anim keffiyeh helvetica, craft beer labore wes anderson 
          cred nesciunt sapiente ea proident. Ad vegan excepteur butcher 
          vice lomo.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" 
             href="#collapseThree">
            相机任务
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <div><a>极光相机任务-20201001.xlsx</a></div>
          <div><a>极光相机任务-20201023.xlsx</a></div>
          <div><a>极光相机任务-20201101.xlsx</a></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(function () { $('#collapseFour').collapse({
        toggle: false
      })});
      $(function () { $('#collapseTwo').collapse('show')});
      $(function () { $('#collapseThree').collapse('toggle')});
      $(function () { $('#collapseOne').collapse('hide')});
      $(function () { $('#collapsefive').collapse('show')});
      $(function () { $('#collapsesix').collapse('toggle')});
    </script>  
  </div>
	
  {{ content }} -->
</div>
