---
layout: default
---



<div id="picid" class="col-sm-12">
  <div id="left">
    <div id="gatherHead">文件目录</div>
    <div class="gatherSortHead" id="gatherSortHead" title="文献数据">
        <span>参考文献</span>
        <a href="Datalist1.aspx?FieldTyepID=7,1">
        更多&gt;&gt;
        </a>
    </div>
    <div class="gatherSortBody" style ="display:block;">
        <div class="childsorthead" id="childsorthead">
            <span>总体</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title="总体" href="/data.aspx?DATAID=277">
                        总体
                    </a>
                </li>
            </ul>
        </div>
        <div class="childsorthead" id="childsorthead">
            <span>极光相机</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title=" 极光相机" href="/data.aspx?DATAID=277">
                        极光相机
                    </a>
                </li>
            </ul>
        </div>
        <div class="childsorthead" id="childsorthead">
            <span>波动载荷</span>
            <a href="Datalist1.aspx?FieldTyepID=7,1">
                更多&gt;&gt;
            </a>
            <ul>   
                <li>
                    <a target="_blank" title="波动载荷" href="/data.aspx?DATAID=277">
                        波动载荷
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  {{ content }}
</div>
